In [8]:
def sum1():
    a=5
    re=0
    for i in range(1, a, 1):
        re+=i
    return "결과", re

In [9]:
sum1()

('결과', 10)

In [3]:
def sum2(a):
    re=0
    for i in range(1, a, 1):
        re+=i
    return re

In [7]:
sum2(5)

10

In [12]:
def sum3(a):
    re=0
    for i in range(1, a, 1):
        re+=i
    print("결과값은", re)

In [13]:
sum3(5)

결과값은 10

In [15]:
local = 5

def what():
    local = 10 #지역변수
    print("함수안에서", local)

print("함수 호출 전 함수 밖에서", local)
print(what())
print("함수 호출 후 함수 밖에서", local)

함수 호출 전 함수 밖에서 5
함수안에서 10
None
함수 호출 후 함수 밖에서 5

In [17]:
local = 5

def what():
    global local
    local = 10
    print("함수안에서", local)

print("함수 호출 전 함수 밖에서", local)
print(what())
print("함수 호출 후 함수 밖에서", local)

함수 호출 전 함수 밖에서 5
함수안에서 10
None
함수 호출 후 함수 밖에서 10

In [18]:
def order(name, n=5, toy="레고"):
    print(n, name, toy)

In [19]:
order("홍길동")

5 홍길동 레고

In [20]:
order("홍길동", 3, "괴물")

3 홍길동 괴물

In [21]:
order("컴퓨터")

5 컴퓨터 레고

In [22]:
# 파이썬 라이브러리 활용

In [23]:
import math

math.sin(45), math.cos(45), math.tan(45)

(0.8509035245341184, 0.5253219888177297, 1.6197751905438615)

In [24]:
import math as m

m.sin(45), m.cos(45), m.tan(45)

(0.8509035245341184, 0.5253219888177297, 1.6197751905438615)