#### **pandas와 딕셔너리**
- 딕셔너리에 의해서 판다스가 만들어짐
- 딕셔너리 : 키이름, value값으로 구성
- 판다스 
    -  1) 데이터프레임 : 행과 열로 이루어진 2차원 표 
    -  2) 시리즈 : 행 또는 열 1개로만 이루어진 1차원 표

In [ ]:
import numpy as np
from numpy import *

import pandas as pd
from pandas import *

### 시리즈

In [ ]:
dic1 = {'서울':800, '부산':150, '대구': 100}
dic1

In [ ]:
s = pd.Series(dic1) ; s

In [ ]:
a = pd.Series([1, 2, 3, 4])
a

In [ ]:
b = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
b

In [ ]:
c=Series( ['서울','부산','대구','대전','광주']) 
c

In [ ]:
d=Series( ['서울','부산','대구','대전','광주'], 
               index=['a','b','가','d',500])       
d

In [ ]:
e=pd.Series(['서울','부산','대구','대전','광주'], 
                  index=['a','b','c','d','e'])  
e

In [ ]:
dic2 = {'city'  : '서울',  'year' : 2018}
data2 = pd.Series(dic2) 
print(data2)
data2

### 데이터프레임

dic3 = {'city'  : '서울',   'year' : 2018}
data3 = pd.DataFrame(dic3) ## DataFrame는 2차원이라서 딕셔너리의 value값이 []로 만들어야 함

In [ ]:
dic4 = {'city'  : ['서울'],   'year' : [2018]}
data4 = pd.DataFrame(dic4) ; data4

In [ ]:
dic5 = {'city'  : ['서울'],   'year' : [2018]}
data5 = pd.Series(dic5) ; data5

In [ ]:
dic6 = {'city': ['서울', '부산', '대전', '대구', '광주'],
        'year': [2017,    2017,   2018,   2018,  2018],
        'temp': [18,       20,      19,    21,    20]}
data6 = pd.DataFrame(dic6) ; data6

In [ ]:
data7 = pd.Series(dic6) ; data7

In [ ]:
type(data7)

In [ ]:
type(data6)

In [ ]:
data6[   ['year', 'city', 'temp']    ]

In [ ]:
data6['year']   ## (1) [열이름] 접근

In [ ]:
a=data6['city'] ; a

In [ ]:
data6.city  ## (2) 속성을 이용하여 접근 가능

In [ ]:
data6.temp

data6.서울
###### 서울을 열값 데이터이므로 접근 불가능
###### 판다스는 반드시 열이름으로 접근해야 함.

In [ ]:
b=data6[ [ 'year','temp' ]] ; b

In [ ]:
data6.index = ['a','b','c','d','e'] ; data6

In [ ]:
data6.columns = ['도시','연도','날씨'] ; data6
## 열제목을 []값으로 변경

In [ ]:
data6['연도']

In [ ]:
data6.연도

In [ ]:
data6[ ['도시','날씨'] ]

data6.temp
- 기존의 열이름 temp는 날씨로 변경되어서 사용 불가

In [ ]:
data6.loc['a']

In [ ]:
data6.loc[[ 'b', 'e']]

In [ ]:
data6.set_index(['도시'])

In [ ]:
data6

In [ ]:
da6=data6.set_index(['도시'])  ## (1) 별도의 변수에 저장
da6

In [ ]:
data6.set_index(['도시'], inplace=True) ## (2) inplace=True
data6

In [ ]:
data6.loc['서울']

In [ ]:
data6.loc[  ['서울','대구']  ]

In [ ]:
data6.iloc[1:3]  ## 1행, 2행

In [ ]:
data6.iloc[:3]

In [ ]:
data6.iloc[3:]

In [ ]:
cars = [50,40,20,30,10]
data6['car'] = cars
data6

In [ ]:
data6['high1'] = data6.car >= 30 
data6

In [ ]:
data6['high2'] = data6.car >= 40 
data6

In [ ]:
data6.columns

In [ ]:
data6.describe()

In [ ]:
pd.options.display.float_format = '{:.2f}'.format
data6.describe()

In [ ]:
data6.head(3)

In [ ]:
data6.tail()

In [ ]:
data6.drop('high1',axis=1)

In [ ]:
data6

In [ ]:
a=data6.drop('high2',axis=1)  ## 열단위 삭제
a

In [ ]:
data6.drop('high1',axis=1, inplace=True)

In [ ]:
data6

In [ ]:
data6.drop('대구',axis=0, inplace=True)  ##행단위

In [ ]:
data6

In [ ]:
data6.drop(['car', 'high2'], axis=1)

In [ ]:
## 1~10까지의 합을 구하는 프로그램 
re=0
for i in range(1, 11,1):
    re+=i
print(re)

In [ ]:
## 1~어떤수까지 합을 구하는 함수
def whatSum():
    re=0
    a=int(input('수?'))
    for i in range(1,a+1,1):
        re+=i
    print("결과값은", re)
    return re     ## 현재 함수를 호출한 곳에 re값을 반환

In [ ]:
whatSum()

In [ ]:
def whatSum2(a):
    re=0
    for i in range(1,a+1,1):
        re+=i
    print("결과값은", re)

In [ ]:
whatSum2(5)

In [ ]:
def whatSum3(a):
    re=0
    for i in range(1,a+1,1):
        re+=i
    return a, re

In [ ]:
whatSum3(5)

In [ ]:
x,y=whatSum3(5)
x,y

In [ ]:
def whatSum4(a=10):  ## 매개변수 디폴트값 생략시 10으로 간주
    re=0
    for i in range(1,a+1,1):
        re+=i
    return re

In [ ]:
whatSum4()

In [ ]:
whatSum4(5)

### 람다 함수 : 내용이 아주 적거나 간단한 함수 람다식으로 표현

In [ ]:
def f1(x):
    k=x.max() - x.min()
    return k

In [ ]:
def f2(x):
    return x.max() - x.min()

In [ ]:
f3 = lambda x: x.max() - x.min()
#함수이름 = lamda  매개변수이름 : 함수내용

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4, 3), 
                  columns=['A', 'B', 'C'], 
                  index=['a', 'b', 'c', 'd'])
df

In [ ]:
df.apply(f1)  ## 열단위로 함수 적용

In [ ]:
df.apply(f2)  ##

In [ ]:
df.apply(f3)  ##

In [ ]:
df.apply(f3,0)  ##

In [ ]:
df.apply(f3,axis=1)  ##

In [ ]:
frame = DataFrame(np.arange(8).reshape(2, 4), 
                  index=['three', 'one'],
                  columns=['d', 'a', '가', 'c'])
frame

In [ ]:
frame.sort_index() ## 기본값0으로 인덱스 그자체 행단위 정렬

In [ ]:
frame.sort_index(axis=0)

In [ ]:
frame.sort_index(axis=1) ## 열이름으로 열단위 정렬

In [ ]:
frame.sort_index(axis=1, ascending=False)

In [ ]:
frame

In [ ]:
frame.sort_index(axis=1, ascending=False, inplace=True)

In [ ]:
frame

In [ ]:
frame.sort_values(by='a')

In [ ]:
frame.sort_values(by='가', ascending=False)

In [ ]:
obj = Series(range(4), index=['d', 'a', 'b', 'c'])
obj

In [ ]:
obj.sort_index()

In [ ]:
frame2 = DataFrame({'b': [4,7,4,2], 'a': [4,9,2,5], 'c': [5,3,7,9]}) 
frame2

In [ ]:
frame2.sort_values(by='b')

In [ ]:
frame2.sort_values(by=['b','c'])

In [ ]:
frame2.sort_values(by='a')

In [ ]:
obj = Series([100, 23, 55, 44, 22, 99, 33]) ; obj

In [ ]:
obj.rank()

In [ ]:
obj.rank(ascending=False)

In [ ]:
obj2 = Series([100, 23, 55, 44, 22, 44, 33]) ; obj2

In [ ]:
obj2.rank()

In [ ]:
obj3 = Series([100, 23, 55, 44, 22, 44, 33, 44]) 
obj3.rank()

In [ ]:
obj3.rank(method="min")

In [ ]:
obj3.rank(method="max")

In [ ]:
obj3.rank(method="first")

In [ ]:
frame3 = DataFrame({'b': [4,7,3,2], 'a': [8,9,2,5],  'c': [5,3,7,9]}) 
frame3

In [ ]:
frame3.rank()

In [ ]:
frame3.rank(0, method="first")

In [ ]:
frame3.rank(1)

In [ ]:
frame3.sum()

In [ ]:
frame3.sum(0)

In [ ]:
frame3.sum(1)

In [ ]:
frame3.mean()

In [ ]:
frame3.mean(0)

In [ ]:
frame3.mean(1)

#### **결측치 nan**
- 특정 시간에 측정되지 않아서 값이 없는 경우
- 0 공백도 아닌 상태
- 어떤 이유로 그냥 값이 존재XXX
- np.nan, NA로 표기

- nan 처리하는 방법
1) nan 삭제  : dropna
2) nan 다른 값으로 대체 : fillna

In [ ]:
frame4 = DataFrame({'b': [4,7,3,2], 'a': [8,9,np.nan,8],  'c': [5,3,7,9]}) 
frame4

In [ ]:
frame4.idxmax()

In [ ]:
frame4.idxmin()

In [ ]:
frame4.sum(0)

In [ ]:
frame4.sum(1)

In [ ]:
frame4.sum(0, skipna=False)  ##nan도 계산

In [ ]:
frame4.sum(1, skipna=False)  ##nan도 계산

In [ ]:
frame4.rank()

In [ ]:
frame4.dropna()  ## 행단위 삭제

In [ ]:
frame4.dropna(axis=0)  ## 행단위 삭제

In [ ]:
frame4.dropna(axis=1, inplace=True)  ## 열단위 삭제
frame4

In [ ]:
frame5 = DataFrame({'b': [np.nan,7,3,2], 'a': [np.nan,9,NA,8],  'c': [5,NA,7,NA]}) 
frame5

In [ ]:
frame5.fillna(777)  ## 원본 변경XXX

In [ ]:
frame5

In [ ]:
frame5.fillna(777, inplace=True)  ## 원본 변경
frame5

In [ ]:
frame6 = DataFrame([[NA, 6.5, NA], [NA, np.nan, NA], [NA, NA, NA],  [NA, 6.5, NA]])
frame6

In [ ]:
cl=frame6.dropna(axis=0);cl ##행단위 삭제 -> 열이름만 남음

In [ ]:
cl=frame6.dropna(axis=1);cl ##열단위 삭제 -> 인덱스값만 남음

In [ ]:
cl=frame6.dropna(axis=0, how='all');cl ##행단위 삭제

In [ ]:
cl=frame6.dropna(axis=1, how='all');cl ##열단위 삭제

In [ ]:
result = frame6.fillna({0:590, 1:100, 2:900}); result

In [ ]:
frame6.dropna(axis=0, thresh=1)

In [ ]:
frame6

In [ ]:
frame6.dropna(axis=1, thresh=1)

In [ ]:
frame6

In [ ]:
df=DataFrame( np.random.randn(7,3)  )
df

In [ ]:
df.iloc[:, 1] = np.nan
df.iloc[:2, 2] = np.nan
df.iloc[0,0] = np.nan
df.iloc[4,2] = np.nan
df.iloc[2:4, :] = np.nan
df

In [ ]:
df.dropna(axis=0)  ## 행단위 삭제

In [ ]:
df.dropna(axis=1) ## 열단위 삭제

In [ ]:
df.dropna(axis=0, thresh=1)

In [ ]:
df.dropna(axis=0, thresh=2)

In [ ]:
df.dropna(axis=1, thresh=1)

In [ ]:
df

df.fillna(df.mean())

df

df.ffill()  ## nan의 위 행의 값이 대체, 단 위행의 없다면 그대로 nan 출력

df.bfill() ## nan의 아래 행의 값이 대체, 단 아래행의 없다면 그대로 nan 출력

In [ ]:
import os
os.getcwd()

In [ ]:
os.listdir()

In [ ]:
frame6.to_csv('./data/fr6.csv', header=True, index=True, encoding='utf-8')

In [ ]:
os.chdir('data')
os.listdir()

In [ ]:
c=pd.read_csv('./fr6.csv')   ## 열이름, 인덱스가 없었다. -> 1번 데이터가 열이름이 되고, 인덱스는 새롭게 만들어짐
c

In [ ]:
os.getcwd()

In [ ]:
os.chdir('..')  ## .. 상위폴더    . 현재폴더
os.listdir()

In [ ]:
os.getcwd()

In [ ]:
result

In [ ]:
type(result)

In [ ]:
result.to_csv('./data/fr8.csv', header=False, index=False, encoding='utf-8')

In [ ]:
result.to_csv('./data/fr10.csv', header=True, index=True, encoding='cp949')

In [ ]:
result.to_csv('./data/fr12.csv', header=True, index=False, encoding='cp949')

In [ ]:
a=pd.read_csv('./data/fr8.csv')  
a

In [ ]:
a2=pd.read_csv('./data/fr8.csv', header=None)  
a2

In [ ]:
b=pd.read_csv('./data/fr10.csv')
b

In [ ]:
obj3 = Series(['d','d', 'c','c', 'a', 'd', 'a', 'a','c', 'b', 'b', 'c', 'c'])

In [ ]:
obj3.unique()

In [ ]:
obj3.value_counts()

In [ ]:
obj3.value_counts(sort=False)

In [ ]:
obj3.isin(['b'])

In [ ]:
obj3.isin( ['c', 'b'] )

In [ ]:
mask = obj3.isin(['b', 'c'])
mask

In [ ]:
obj3[mask]  ## True 값만 원소로 취급

In [ ]:
obj3[  obj3.isin(['b', 'c'])  ]

In [ ]:
obj4 = Series(['d',NA, 'c','c', NA, 'd', 'a', NA,'c', NA, 'b', 'c', 'c'])

In [ ]:
obj4[obj4.notnull()]