## 파일 생성

In [1]:
from pandas import DataFrame, Series 
import pandas as pd 

f = open("test.csv", "w")
f.write("1,2,3,4,5 \n")
f.close()

In [2]:
!type test.csv

1,2,3,4,5

In [3]:
with open("test.csv", "a") as f:
    f.write("1,2,3,4,5 \n")
    f.write("1,2,3,4,5 \n")

In [4]:
!type test.csv

1,2,3,4,5
1,2,3,4,5
1,2,3,4,5

In [5]:
with open("test.csv",'r') as f:
    for line in f:
        print(line, end = '')

1,2,3,4,5
1,2,3,4,5
1,2,3,4,5

## 옵션
'r'	Open a file for reading. (default)  
'w'	Open a file for writing. Creates a new file if it does not exist or truncates the file if it exists.  
'x'	Open a file for exclusive creation. If the file already exists, the operation fails.  
'a'	Open for appending at the end of the file without truncating it.   Creates a new file if it does not exist.
't'	Open in text mode. (default)  
'b'	Open in binary mode.  
'+'	Open a file for updating (reading and writing)

In [6]:
with open("test.csv", "w") as f:
    f.write("a,b,c,d,message \n")
    f.write("1,2,3,4,hello \n")
    f.write("5,6,7,8,world \n")
    f.write("9,10,11,12,foo \n")

In [7]:
!cat test.csv

'cat'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [8]:
pd.read_csv('test.csv')  # 자동으로 컬럼명을 만든다

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
pd.read_csv('test.csv', header=None)

   0   1   2   3         4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [10]:
pd.read_csv('test.csv', header=1)

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [11]:
pd.read_csv('test.csv', names=['A','B','C','D','E'])

   A   B   C   D         E
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [12]:
!cat test.csv

'cat'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [13]:
pd.read_csv('test.csv', nrows=2)
# pd.read_csv('data/ex1.csv', index_col='message')

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

In [14]:
df = pd.read_csv('test.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
df.to_csv('output.csv')

In [16]:
!cat output.csv

'cat'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

## 디렉토리

In [17]:
import os
os.getcwd()

'C:\\Users\\root\\M1'

In [18]:
os.chdir('/Users/root/M1')
os.getcwd()

'C:\\Users\\root\\M1'

In [19]:
os.listdir()

['.ipynb_checkpoints',
 '1-Basic.ipynb',
 '10-스크레이핑.ipynb',
 '11-부동산정보.ipynb',
 '12-국제상품가격.ipynb',
 '13-스타벅스매장지도.ipynb',
 '14-나이브베이즈.ipynb',
 '15-이름성별예측.ipynb',
 '16-스팸메시지필터링.ipynb',
 '17-서울시 구별 CCTV 현황 분석하기.ipynb',
 '18-우리나라 인구 소멸위기 지역 분석.ipynb',
 '19-타이타닉 생존 데이터 분석.ipynb',
 '2-numpy.ipynb',
 '3-pandas.ipynb',
 '4-chart.ipynb',
 '5-chart2.ipynb',
 '6-데이터처리.ipynb',
 '7-파일다루기.ipynb',
 '8-날짜데이터.ipynb',
 '9-데이터크롤링.ipynb',
 'b.png',
 'Data',
 'M1수정_추가예제검토',
 'output.csv',
 'test.csv',
 '코랩.ipynb']

In [20]:
os.mkdir('test')

In [21]:
os.listdir()

['.ipynb_checkpoints',
 '1-Basic.ipynb',
 '10-스크레이핑.ipynb',
 '11-부동산정보.ipynb',
 '12-국제상품가격.ipynb',
 '13-스타벅스매장지도.ipynb',
 '14-나이브베이즈.ipynb',
 '15-이름성별예측.ipynb',
 '16-스팸메시지필터링.ipynb',
 '17-서울시 구별 CCTV 현황 분석하기.ipynb',
 '18-우리나라 인구 소멸위기 지역 분석.ipynb',
 '19-타이타닉 생존 데이터 분석.ipynb',
 '2-numpy.ipynb',
 '3-pandas.ipynb',
 '4-chart.ipynb',
 '5-chart2.ipynb',
 '6-데이터처리.ipynb',
 '7-파일다루기.ipynb',
 '8-날짜데이터.ipynb',
 '9-데이터크롤링.ipynb',
 'b.png',
 'Data',
 'M1수정_추가예제검토',
 'output.csv',
 'test',
 'test.csv',
 '코랩.ipynb']

In [22]:
os.rename('test','new_one')
os.remove('output.csv')
os.rmdir('new_one')

In [23]:
os.listdir()

['.ipynb_checkpoints',
 '1-Basic.ipynb',
 '10-스크레이핑.ipynb',
 '11-부동산정보.ipynb',
 '12-국제상품가격.ipynb',
 '13-스타벅스매장지도.ipynb',
 '14-나이브베이즈.ipynb',
 '15-이름성별예측.ipynb',
 '16-스팸메시지필터링.ipynb',
 '17-서울시 구별 CCTV 현황 분석하기.ipynb',
 '18-우리나라 인구 소멸위기 지역 분석.ipynb',
 '19-타이타닉 생존 데이터 분석.ipynb',
 '2-numpy.ipynb',
 '3-pandas.ipynb',
 '4-chart.ipynb',
 '5-chart2.ipynb',
 '6-데이터처리.ipynb',
 '7-파일다루기.ipynb',
 '8-날짜데이터.ipynb',
 '9-데이터크롤링.ipynb',
 'b.png',
 'Data',
 'M1수정_추가예제검토',
 'test.csv',
 '코랩.ipynb']

In [24]:
import json

In [25]:
# json은 python에서처럼 '으로 하면 안된다. 현재 """로 감싸 문자열로 저장되어 있기 때문에 
# javascript에서는 '를 string 값으로 인식하지 않아서 에러 발생
obj = """
{
    "name": "Kim",
    "places_lived": ["Seoul", "Korea"],
    "pet": null, "siblings": [{"name": "Scott", "age":25, "pet":"Zuko"}]
}
"""

In [26]:
result = json.loads(obj)
result

{'name': 'Kim',
 'places_lived': ['Seoul', 'Korea'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'}]}

In [27]:
asjson = json.dumps(result)
asjson

'{"name": "Kim", "places_lived": ["Seoul", "Korea"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}]}'