# **파이선 기초**

#### 1) 주피터노트북 설치 및 사용, 코랩 사용

#### 2) 기본 데이터형 : 정수(int), 부동소수(float), 문자(strings), 불리언(True/False) 
#### 3) 키보드 입력, 출력
#### 4) 알고리즘 : if문, for문, while문

#### 5) 특수 데이터 형 : 리스트(list), 튜플(tuple), 사전(dictionary)
#### 6) 함수
#### 7) 차트 matPlotLib

### **1) 주피터노트북**
- https://www.anaconda.com/
- 아나콘다 (anaconda)를 설치
- jupyter notebook 실행
- 탐색기 경로 확인 C:\Users\본인의 아이디 폴더\
- 마크다운과 코드 사용
- 셀을 실행 : Shift + Enter, Ctrl + Enter
- 두 개의 셀을 합치기 : Shift + m
- 셀을 둘로 나누기 : Shift + Ctrl + -
- 새로운 셀 삽입 : 위쪽에 삽입 - a, 아래쪽에 삽입 - b

### **코랩과 유사**
- https://colab.research.google.com/?hl=ko
- e
https://colab.goole

#### **최신버전으로 업데이트**
pip --version

pip install pkg

pip install --upgrade pip

!pip3 install --upgrade pip

!pip3 install --user --upgrade virtualenv

### **2) 기본 데이터 형**
- 정수(int), 부동소수(float), 문자(strings), 불리언(True/False),

In [1]:
a=5
b=5.0
c=True
d=False
e='문자'
f="문자열"

g='''1~~~  
2~~~
3~~~ ''' 

h="""1~~~
2~~~
3~~~ """ 

print(a, b, c, d, e, f, g, h)
print( type(a), type(b), type(c),type(d),type(e),type(f), type(g), type(h) )

5 5.0 True False 문자 문자열 1~~~
2~~~
3~~~  1~~~
2~~~
3~~~
<class 'int'> <class 'float'> <class 'bool'> <class 'bool'> <class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [2]:
x=3
print(x)
x

3

3

In [3]:
y = 0.5
x+y

3.5

In [4]:
a=3
b=10
c=a*b
d=10//3  
e=10/3   
f=10%3
print("출력", a,b,c,e,d,f, '끝')
d,e,f

출력 3 10 30 3.3333333333333335 3 1 끝

(3, 3.3333333333333335, 1)

In [5]:
print("100" + "200")
print(100 + 200)
print(100 + "200")

100200
300

In [6]:
a=10
b=20
c=a*b
print( a,"*",b,'=', c)
print("{} * {} = {}".format(a,b,c))
print("{1} * {0} = {2}".format(a,b,c))   

print("{:.3f} * {:.2f} = {:.1f}".format(a,b,c))
print("{1:.3f} * {0:.2f} = {2:.1f}".format(a,b,c))

10 * 20 = 200
10 * 20 = 200
20 * 10 = 200
10.000 * 20.00 = 200.0
20.000 * 10.00 = 200.0

#### **3) 키보드 입력, 화면 출력**

In [7]:
x=input()
y=input()
print(x)
print(y)

 2
 5

2
5

In [8]:
a=int(input())
b=int(input())
print(a)
print(b)

 2
 9

2
9

In [9]:
c=input()
c=int(c)
print(c)

 1

1

In [10]:
d=input()
d=float(d)
print(d)

 2

2.0

In [11]:
name=input('이름을 입력하시오')
age=int(input('나이를 입력하시오'))
bo=float(input('보안키를 입력하시오'))
print(name, "\n", age, "\n",bo)

이름을 입력하시오 3.4
나이를 입력하시오 1
보안키를 입력하시오 2

3.4
 1
 2.0

In [12]:
a=int(input())
print(a, '%', sep='')

 3

3%

In [13]:
a, b = input().split(':')
print(a, b, sep=':')
print(a, b)

 3:4

3:4
3 4

In [16]:
y, m, d = input().split('.')
print(d, m, y, sep='-')

 2.3.4

4-3-2

In [21]:
a,b = input().split('-')
print(a,b, sep='')

 5-9

59

In [24]:
w1, w2 = input().split()
s = w1 + w2
print(s)

 2 6

26

In [25]:
a=2
b=5
c=a+b
print(a, "+", b, "=", c)
print("{} + {} = {}".format(a, b, c))

print("{1} + {0} = {2}".format(a, b, c))

2 + 5 = 7
2 + 5 = 7
5 + 2 = 7

#### **4) 알고리즘**
- if 문
    - 조건에 따른 실행 문장을 실행
    - if, elif, else 문을 활용
- for 문
    - 반복 횟수가 정확 할 때
- while 문 
    - 조건에 대한 문장 반복

In [26]:
x=17
if x > 10:
    print("x > 10") 
    print('---------')
elif x > 3:
    print("10 >= x < 3") 
else:
    print(" x <= 3")

x > 10
---------

In [28]:
a=int(input('숫자를 입력하세요'))
if a>10 :
    print("10보다 크다")
else :
    print("10보다 적다")

숫자를 입력하세요 8

10보다 적다

In [30]:
a=int(input('숫자를 입력하세요'))
if a>10 :
    print("10보다 크다")
elif a==10 :
    print("10이다")
else :
    print("10보다 적다")

숫자를 입력하세요 13

10보다 크다

In [31]:
# 어떤 수를 입력받아서 짝수 홀수를 출력하라. 
x=int(input('수?'))

if x%2 == 0 :   ##  == 같니?
    print(x, "는 짝수")
else:
    print(x, "는 홀수")

수? 7

7 는 홀수

In [32]:
if x%2 != 0 :    
    print(x, "는 홀수")
else:
    print(x, "는 짝수")

7 는 홀수

In [33]:
if x%2 == 0 :
    print(x, "는 짝수")
elif x%2 == 1 :
    print(x, "는 홀수")

7 는 홀수

In [34]:
for i in range(10): 
    print (i)

0
1
2
3
4
5
6
7
8
9

In [35]:
for i in range(0,10,1): 
    print (i, "     ", end='')

0      1      2      3      4      5      6      7      8      9

In [36]:
for i in range(10): 
    print (i, "\t", end='')   # "\t" : 탭 8칸 띄우기
    print("반복 ", end='')
print("\n끝")   # \n 엔터

0 	반복 1 	반복 2 	반복 3 	반복 4 	반복 5 	반복 6 	반복 7 	반복 8 	반복 9 	반복
끝

In [37]:
for i in range(2,10,2) :
    print(i, "\t", end='')

2 	4 	6 	8

In [38]:
for i in range(10,0,-2) :
    print(i, "\t", end='')

10 	8 	6 	4 	2

In [39]:
x = range(1,20,2)
for i in x:
    print(i*10)

10
30
50
70
90
110
130
150
170
190

In [40]:
for i in range(10): 
    if  i % 2 == 0:
        print('2의 배수(짝수):', i)
        print('2의 배수입니다')
    if i % 3 == 0:
        print('3의 배수', i)
    if i % 4 == 0:
        print('4의 배수', i)
    else:
        print(i,'--- 기타')

2의 배수(짝수): 0
2의 배수입니다
3의 배수 0
4의 배수 0
1 --- 기타
2의 배수(짝수): 2
2의 배수입니다
2 --- 기타
3의 배수 3
3 --- 기타
2의 배수(짝수): 4
2의 배수입니다
4의 배수 4
5 --- 기타
2의 배수(짝수): 6
2의 배수입니다
3의 배수 6
6 --- 기타
7 --- 기타
2의 배수(짝수): 8
2의 배수입니다
4의 배수 8
3의 배수 9
9 --- 기타

In [41]:
##1~10까지의 합을 구하시오. 
re=0
for i in range(1,11,1): 
    re += i   ##  re=re+i

print("=", re)

= 55

In [42]:
i=0
while i<11 :
    print(i, "\t", end='')
    i += 1

0 	1 	2 	3 	4 	5 	6 	7 	8 	9 	10

In [43]:
for i in range(2,10):
    for j in range(1,10):
        print(i,"*",j,"=",i*j,"\t", end="" )
    print()

2 * 1 = 2 	2 * 2 = 4 	2 * 3 = 6 	2 * 4 = 8 	2 * 5 = 10 	2 * 6 = 12 	2 * 7 = 14 	2 * 8 = 16 	2 * 9 = 18
3 * 1 = 3 	3 * 2 = 6 	3 * 3 = 9 	3 * 4 = 12 	3 * 5 = 15 	3 * 6 = 18 	3 * 7 = 21 	3 * 8 = 24 	3 * 9 = 27
4 * 1 = 4 	4 * 2 = 8 	4 * 3 = 12 	4 * 4 = 16 	4 * 5 = 20 	4 * 6 = 24 	4 * 7 = 28 	4 * 8 = 32 	4 * 9 = 36
5 * 1 = 5 	5 * 2 = 10 	5 * 3 = 15 	5 * 4 = 20 	5 * 5 = 25 	5 * 6 = 30 	5 * 7 = 35 	5 * 8 = 40 	5 * 9 = 45
6 * 1 = 6 	6 * 2 = 12 	6 * 3 = 18 	6 * 4 = 24 	6 * 5 = 30 	6 * 6 = 36 	6 * 7 = 42 	6 * 8 = 48 	6 * 9 = 54
7 * 1 = 7 	7 * 2 = 14 	7 * 3 = 21 	7 * 4 = 28 	7 * 5 = 35 	7 * 6 = 42 	7 * 7 = 49 	7 * 8 = 56 	7 * 9 = 63
8 * 1 = 8 	8 * 2 = 16 	8 * 3 = 24 	8 * 4 = 32 	8 * 5 = 40 	8 * 6 = 48 	8 * 7 = 56 	8 * 8 = 64 	8 * 9 = 72
9 * 1 = 9 	9 * 2 = 18 	9 * 3 = 27 	9 * 4 = 36 	9 * 5 = 45 	9 * 6 = 54 	9 * 7 = 63 	9 * 8 = 72 	9 * 9 = 81

In [44]:
for i in range(0,2):
    for j in range(4,7):
        print("\t i=",i,"j=",j, end="" )
    print()

	 i= 0 j= 4	 i= 0 j= 5	 i= 0 j= 6
	 i= 1 j= 4	 i= 1 j= 5	 i= 1 j= 6

In [45]:
for t in range(1,4,1):
    p=t*2
    for i in range(2,10):
        print(i,"단", "\t", end='')
        for k in range(1,10):
            print(i,  "*"  ,  k  ,  "="  ,  i*k  ,  "\t"  , end="" )
        print()

2 단 	2 * 1 = 2 	2 * 2 = 4 	2 * 3 = 6 	2 * 4 = 8 	2 * 5 = 10 	2 * 6 = 12 	2 * 7 = 14 	2 * 8 = 16 	2 * 9 = 18
3 단 	3 * 1 = 3 	3 * 2 = 6 	3 * 3 = 9 	3 * 4 = 12 	3 * 5 = 15 	3 * 6 = 18 	3 * 7 = 21 	3 * 8 = 24 	3 * 9 = 27
4 단 	4 * 1 = 4 	4 * 2 = 8 	4 * 3 = 12 	4 * 4 = 16 	4 * 5 = 20 	4 * 6 = 24 	4 * 7 = 28 	4 * 8 = 32 	4 * 9 = 36
5 단 	5 * 1 = 5 	5 * 2 = 10 	5 * 3 = 15 	5 * 4 = 20 	5 * 5 = 25 	5 * 6 = 30 	5 * 7 = 35 	5 * 8 = 40 	5 * 9 = 45
6 단 	6 * 1 = 6 	6 * 2 = 12 	6 * 3 = 18 	6 * 4 = 24 	6 * 5 = 30 	6 * 6 = 36 	6 * 7 = 42 	6 * 8 = 48 	6 * 9 = 54
7 단 	7 * 1 = 7 	7 * 2 = 14 	7 * 3 = 21 	7 * 4 = 28 	7 * 5 = 35 	7 * 6 = 42 	7 * 7 = 49 	7 * 8 = 56 	7 * 9 = 63
8 단 	8 * 1 = 8 	8 * 2 = 16 	8 * 3 = 24 	8 * 4 = 32 	8 * 5 = 40 	8 * 6 = 48 	8 * 7 = 56 	8 * 8 = 64 	8 * 9 = 72
9 단 	9 * 1 = 9 	9 * 2 = 18 	9 * 3 = 27 	9 * 4 = 36 	9 * 5 = 45 	9 * 6 = 54 	9 * 7 = 63 	9 * 8 = 72 	9 * 9 = 81
2 단 	2 * 1 = 2 	2 * 2 = 4 	2 * 3 = 6 	2 * 4 = 8 	2 * 5 = 10 	2 * 6 = 12 	2 * 7 = 14 	2 * 8 = 16 	2 * 9 = 18
3 단 	3 * 1 = 3 	3 * 2 = 6 	3 * 3 = 9 	3 * 4 = 12 	3 * 5 = 15 	3 * 6 = 18 	3 * 7 = 21 	3 * 8 = 24 	3 * 9 = 27
4 단 	4 * 1 = 4 	4 * 2 = 8 	4 * 3 = 12 	4 * 4 = 16 	4 * 5 = 20 	4 * 6 = 24 	4 * 7 = 28 	4 * 8 = 32 	4 * 9 = 36
5 단 	5 * 1 = 5 	5 * 2 = 10 	5 * 3 = 15 	5 * 4 = 20 	5 * 5 = 25 	5 * 6 = 30 	5 * 7 = 35 	5 * 8 = 40 	5 * 9 = 45
6 단 	6 * 1 = 6 	6 * 2 = 12 	6 * 3 = 18 	6 * 4 = 24 	6 * 5 = 30 	6 * 6 = 36 	6 * 7 = 42 	6 * 8 = 48 	6 * 9 = 54
7 단 	7 * 1 = 7 	7 * 2 = 14 	7 * 3 = 21 	7 * 4 = 28 	7 * 5 = 35 	7 * 6 = 42 	7 * 7 = 49 	7 * 8 = 56 	7 * 9 = 63
8 단 	8 * 1 = 8 	8 * 2 = 16 	8 * 3 = 24 	8 * 4 = 32 	8 * 5 = 40 	8 * 6 = 48 	8 * 7 = 56 	8 * 8 = 64 	8 * 9 = 72
9 단 	9 * 1 = 9 	9 * 2 = 18 	9 * 3 = 27 	9 * 4 = 36 	9 * 5 = 45 	9 * 6 = 54 	9 * 7 = 63 	9 * 8 = 72 	9 * 9 = 81
2 단 	2 * 1 = 2 	2 * 2 = 4 	2 * 3 = 6 	2 * 4 = 8 	2 * 5 = 10 	2 * 6 = 12 	2 * 7 = 14 	2 * 8 = 16 	2 * 9 = 18
3 단 	3 * 1 = 3 	3 * 2 = 6 	3 * 3 = 9 	3 * 4 = 12 	3 * 5 = 15 	3 * 6 = 18 	3 * 7 = 21 	3 * 8 = 24 	3 * 9 = 27
4 단 	4 * 1 = 4 	4 * 2 = 8 	4 * 3 = 12 	4 * 4 = 16 	4 * 5 = 20 	4 * 6 = 24 	4 * 7 = 28 	4 * 8 = 32 	4 * 9 = 36
5 단 	5 * 1 = 5 	5 * 2 = 10 	5 * 3 = 15 	5 * 4 = 20 	5 * 5 = 25 	5 * 6 = 30 	5 * 7 = 35 	5 * 8 = 40 	5 * 9 = 45
6 단 	6 * 1 = 6 	6 * 2 = 12 	6 * 3 = 18 	6 * 4 = 24 	6 * 5 = 30 	6 * 6 = 36 	6 * 7 = 42 	6 * 8 = 48 	6 * 9 = 54
7 단 	7 * 1 = 7 	7 * 2 = 14 	7 * 3 = 21 	7 * 4 = 28 	7 * 5 = 35 	7 * 6 = 42 	7 * 7 = 49 	7 * 8 = 56 	7 * 9 = 63
8 단 	8 * 1 = 8 	8 * 2 = 16 	8 * 3 = 24 	8 * 4 = 32 	8 * 5 = 40 	8 * 6 = 48 	8 * 7 = 56 	8 * 8 = 64 	8 * 9 = 72
9 단 	9 * 1 = 9 	9 * 2 = 18 	9 * 3 = 27 	9 * 4 = 36 	9 * 5 = 45 	9 * 6 = 54 	9 * 7 = 63 	9 * 8 = 72 	9 * 9 = 81

#### **5) 특수 데이터 형**
- 리스트(list), 튜플(tuple), 사전(dictionary)

- 리스트
    - 여러 항목의 집합체로 각 항목의 타입은 서로 달라도 된다.
    - 리스트를 만들려면 대괄호 [ ]를 사용하고 각 항목을 ','로 구분한다

In [46]:
listA=[a,b,c,d,e,f,g,h]
listB=[5,9,12,8,30]
listC=listA+listB
print(listC)

[13, 5, 7, '4', 3.3333333333333335, 1, '1~~~  \n2~~~\n3~~~ ', '1~~~\n2~~~\n3~~~ ', 5, 9, 12, 8, 30]

In [47]:
#listC=listA * listB
listC

[13,
 5,
 7,
 '4',
 3.3333333333333335,
 1,
 '1~~~  \n2~~~\n3~~~ ',
 '1~~~\n2~~~\n3~~~ ',
 5,
 9,
 12,
 8,
 30]

In [48]:
listB * 3

[5, 9, 12, 8, 30, 5, 9, 12, 8, 30, 5, 9, 12, 8, 30]

In [49]:
item2 = list([1,2,3])
item2

[1, 2, 3]

In [50]:
items = [1, 2, 3, 4, 5, 'kim']
items*2

[1, 2, 3, 4, 5, 'kim', 1, 2, 3, 4, 5, 'kim']

In [51]:
len(items)

6

In [52]:
items[0]

1

In [53]:
items[2]=100
items

[1, 2, 100, 4, 5, 'kim']

In [54]:
items[:2]

[1, 2]

In [55]:
items[-1]

'kim'

In [56]:
items[-2]

5

In [57]:
items[2:]

[100, 4, 5, 'kim']

In [58]:
items[2:]

[100, 4, 5, 'kim']

In [59]:
items[0:6:2]

[1, 100, 5]

In [60]:
items[-2:]

[5, 'kim']

In [61]:
items[:-2]

[1, 2, 100, 4]

In [62]:
items[::-1]

['kim', 5, 4, 100, 2, 1]

In [63]:
items[1 :: -1]

[2, 1]

In [64]:
listC=[5, 10, 15, 20, 25, 30, 35, 40]

In [65]:
listC[-1] , listC[0]

(40, 5)

In [66]:
listC[0]=200
listC

[200, 10, 15, 20, 25, 30, 35, 40]

In [67]:
listC[-1]=50
listC

[200, 10, 15, 20, 25, 30, 35, 50]

In [68]:
listC[0:3], listC[1:4], listC[:5],listC[3:]

([200, 10, 15], [10, 15, 20], [200, 10, 15, 20, 25], [20, 25, 30, 35, 50])

In [69]:
listC[3] = 9999
print(listC)

[200, 10, 15, 9999, 25, 30, 35, 50]

In [70]:
listC.append(100)
print(listC)

[200, 10, 15, 9999, 25, 30, 35, 50, 100]

In [71]:
listC.remove(9999)
print(listC)

[200, 10, 15, 25, 30, 35, 50, 100]

In [72]:
if 9999 in listC :
    listC.remove(9999)
    print(listC)
else:
    print("9999가 없다")    
    
print(listC)

9999가 없다
[200, 10, 15, 25, 30, 35, 50, 100]

In [73]:
listC.insert(0,777)
listC.insert(5,97)
print(listC)

[777, 200, 10, 15, 25, 97, 30, 35, 50, 100]

In [74]:
listD = listC.copy()
print(listD)

[777, 200, 10, 15, 25, 97, 30, 35, 50, 100]

In [75]:
listE = [897, 2, 1, 4, 99, 5.24, 17]
print(listE)

[897, 2, 1, 4, 99, 5.24, 17]

In [76]:
listE.sort()
print(listE)

[1, 2, 4, 5.24, 17, 99, 897]

In [77]:
listE.sort(reverse=True)
print(listE)

[897, 99, 17, 5.24, 4, 2, 1]

In [78]:
y = sorted(listE)
print(listE)
print(y)

[897, 99, 17, 5.24, 4, 2, 1]
[1, 2, 4, 5.24, 17, 99, 897]

In [79]:
listE.reverse()
print(listE)

[1, 2, 4, 5.24, 17, 99, 897]

In [80]:
a = 3
B = [1, 3, 5, 7, 9]

print(a in B)
print(a not in B)

sum(B)

True
False

25

In [81]:
max(B)

9

In [82]:
min(B)

1

In [83]:
len(B)

5

In [84]:
sum(B) / len(B)  ##avg(B)

5.0

In [85]:
items = [ 1, 5, 100]
for x in items:
    print(x**3)

1
125
1000000

In [86]:
listB = [x*10 for x in range(5)] 
print(listB) # [0, 10, 20, 30, 40]

[0, 10, 20, 30, 40]

In [87]:
R=[1,2,3,4,5,6,6,6,6,7,8,9]
R.remove(6)
print(R)
co=0
for i in R:
    if i==6 :
        co+=1
print(co)        
for i in range(co):
    R.remove(6)
print(R)

[1, 2, 3, 4, 5, 6, 6, 6, 7, 8, 9]
3
[1, 2, 3, 4, 5, 7, 8, 9]

#### 리스트 연습

In [88]:
shopping_list = []  
shopping_list.append("milk")
shopping_list.append("cheese")
shopping_list.append("bread")

In [89]:
shopping_list

['milk', 'cheese', 'bread']

In [90]:
shopping_list.remove("milk")
shopping_list

['cheese', 'bread']

In [91]:
for item in shopping_list:
    print(item)

cheese
bread

In [92]:
if "milk" in shopping_list:
    print("Delicious!")

if "eggs" not in shopping_list:
    print("Well we can't have that!")
    shopping_list.append("eggs")

Well we can't have that!

In [93]:
shopping_list

['cheese', 'bread', 'eggs']

- 튜플 (tuple)
    - 튜플은 리스트처럼 여러 항목의 집합을 담을 수 있는데 리스트와 달리 튜플의 내용은 '상수'로 취급되어 값을 바꿀 수 없다
    - 튜플을 만들려면 소괄호( )를 사용하여 만들거나 , 로 구분하여 나열한다.
    - 리스트와 거의 동일
    - 리스트와 다른점 : 값 변경이 불가한 상수

In [94]:
a=1,3,4,5
b=(6,7,8,9)

In [95]:
a[-1], a[3], b[-2], b[0:4]

(5, 5, 8, (6, 7, 8, 9))

In [96]:
##a[-1]=100   ## 튜플은 상수 <-변하지 않는 수 : 정의, 검색

In [97]:
tupleA = 1, 2, 3, 4, 5
tupleB = ('가', '나', '다', '라', '마')
tupleC = '파이썬', 10000, False
tupleD = '파이썬', (10000, '만큼','어려워'), False

print(tupleA, type(tupleA))
print(tupleB, type(tupleB))
print(tupleC, type(tupleC))
print(tupleD, type(tupleD))

(1, 2, 3, 4, 5) <class 'tuple'>
('가', '나', '다', '라', '마') <class 'tuple'>
('파이썬', 10000, False) <class 'tuple'>
('파이썬', (10000, '만큼', '어려워'), False) <class 'tuple'>

In [98]:
my_tuple = (1, 2, 3)
your_tuple = 4, 5,"hello"
print(my_tuple + your_tuple)

(1, 2, 3, 4, 5, 'hello')

In [99]:
print(tupleA[2])
#tupleA[2] = 100
print(tupleA)
print(len(tupleA))

3
(1, 2, 3, 4, 5)
5

In [100]:
a, b, c = 3, 4, 100

In [101]:
print(a)
print(b)
print(c)

3
4
100

- 사전 (Dictionary)
    - 딕셔너리로 키-값 조합 형태의 리스트를 만들 수 있다. 
    - 딕셔너리에서는 항목을 찾을 때 키를 사용한다
    - 딕셔너너리에서 저장된 순서는 중요시하지 않는다.
    - 딕셔너리는 중괄호 {  } 로 만든다.

In [102]:
dictA = {'name': '홍길동', 'birth': 1990, 'addr': 'KR'}
print(dictA)
print(dictA['birth'])

{'name': '홍길동', 'birth': 1990, 'addr': 'KR'}
1990

In [103]:
#print(ditcA['1990'])  ## 키이름으로는 데이터 접근이 가능
## value값으로 데이터 접근 불가

In [104]:
dictA['weight'] = 60.5
dictA['family'] = ['아빠', '엄마', '여동생']
print(dictA)

{'name': '홍길동', 'birth': 1990, 'addr': 'KR', 'weight': 60.5, 'family': ['아빠', '엄마', '여동생']}

In [105]:
dictA['weight']=62.8
print(dictA)

{'name': '홍길동', 'birth': 1990, 'addr': 'KR', 'weight': 62.8, 'family': ['아빠', '엄마', '여동생']}

In [106]:
dictA.update({'weight':67.8,'hobby': ['게임', '독서']})
print(dictA)

{'name': '홍길동', 'birth': 1990, 'addr': 'KR', 'weight': 67.8, 'family': ['아빠', '엄마', '여동생'], 'hobby': ['게임', '독서']}

In [107]:
dictA['hobby'] = ['축구','등산']
print(dictA)

{'name': '홍길동', 'birth': 1990, 'addr': 'KR', 'weight': 67.8, 'family': ['아빠', '엄마', '여동생'], 'hobby': ['축구', '등산']}

In [108]:
print(len(dictA))
print(type(dictA))
print(dictA.keys())
print(dictA.values())
print(dictA.items())

6
<class 'dict'>
dict_keys(['name', 'birth', 'addr', 'weight', 'family', 'hobby'])
dict_values(['홍길동', 1990, 'KR', 67.8, ['아빠', '엄마', '여동생'], ['축구', '등산']])
dict_items([('name', '홍길동'), ('birth', 1990), ('addr', 'KR'), ('weight', 67.8), ('family', ['아빠', '엄마', '여동생']), ('hobby', ['축구', '등산'])])

In [109]:
del dictA['birth']
print(dictA)

del dictA['addr']
print(dictA)

dictA.pop('weight')
print(dictA)

{'name': '홍길동', 'addr': 'KR', 'weight': 67.8, 'family': ['아빠', '엄마', '여동생'], 'hobby': ['축구', '등산']}
{'name': '홍길동', 'weight': 67.8, 'family': ['아빠', '엄마', '여동생'], 'hobby': ['축구', '등산']}
{'name': '홍길동', 'family': ['아빠', '엄마', '여동생'], 'hobby': ['축구', '등산']}

In [110]:
if "birth" in dictA:
    del dictA['birth']
    print('지웠다')
else:
    print('없다')    
print(dictA)

없다
{'name': '홍길동', 'family': ['아빠', '엄마', '여동생'], 'hobby': ['축구', '등산']}

In [111]:
dictA.clear()
print(dictA)

{}

#### 딕셔너리 연습

In [112]:
foods = {} 
foods["banana"] = "A delicious and tasty treat!"
foods["dirt"]   = "Not delicious. Not tasty. DO NOT EAT!"
foods

{'banana': 'A delicious and tasty treat!',
 'dirt': 'Not delicious. Not tasty. DO NOT EAT!'}

In [113]:
foods["banana"]

'A delicious and tasty treat!'

In [114]:
#foods["cheese"]

In [115]:
if "cheese" in foods:
    print("Cheese is one of the known foods!")
else:
    print("No cheese")

No cheese

In [116]:
del foods["dirt"]
foods

{'banana': 'A delicious and tasty treat!'}

#### **6) 함수**

In [117]:
## 1~어떤수까지 합을 구하는 함수
def whatSum(a):
    re=0
    for i in range(1,a+1,1):
        re+=i
    return re

In [118]:
def whatSum2(a):
    re=0
    for i in range(1,a+1,1):
        re+=i
    print("결과값은", re)

In [119]:
def whatSum3(a):
    re=0
    for i in range(1,a+1,1):
        re+=i
    return a, re

In [120]:
def whatSum4(a=10):
    re=0
    for i in range(1,a+1,1):
        re+=i
    return re

In [121]:
a=whatSum(10)
a

55

In [122]:
b=whatSum2(10)
b

결과값은 55

In [123]:
whatSum3(10)

(10, 55)

In [124]:
# whatSum()

In [125]:
whatSum4()

55

In [126]:
whatSum4(20)

210