# 동아대 M1과정
### 8월 25일 월요일
##### 김한재 컴퓨터공학과

In [1]:
# 변수 : 컴퓨터에서 데이터를 저장하는 공간
a=5
b=5.0
c=True
d=False

In [2]:
a=10

In [3]:
print(a)

10

In [4]:
a=3
b=4
c=a+b
print(a, "+", b, "=", c)

3 + 4 = 7

In [5]:
a=13
b=24
c=a+b
b
#1개의 셀에서 마지막 라인의 변수값은 print 됨

24

In [6]:
#파이썬은 문자열 = 문자 같음
# ''' """ 은 여러줄 문자 의미
s1 = '문자'
s2 = "문자"
s3 = """ test~~~~~~
test~~~~~~
"""

type(s1), type(s2), type(s3)

(str, str, str)

In [7]:
# 리스트
m = [1, 2, 3] # 리스트임, 배열아님!, 단순 값 나열
o = (4, 5, 6) # 튜플: 단순 값의 나열 중에서 상수
p = 4, 5, 6 # 튜플
print("리스트=", m)
print("튜플=", o)
print("튜플=", p)

type(m), type(o), type(p)

리스트= [1, 2, 3]
튜플= (4, 5, 6)
튜플= (4, 5, 6)

(list, tuple, tuple)

In [8]:
#p[0]=100 불가 튜플이기때문

In [9]:
100+200

300

In [10]:
"100"+"200"

'100200'

In [11]:
10/3

3.3333333333333335

In [12]:
10/3

3.3333333333333335

In [13]:
10/3.0

3.3333333333333335

In [14]:
10//3

3

In [15]:
10//3.0

3.0

In [16]:
a=123.456
b=456.145
print("{} * {} = {}".format(a, b, c))
print("{1} * {0} = {2}".format(a, b, c))
print("{:.1f} * {:.2f} = {:.0f}".format(a, b, c))
print("{1:.1f} * {0:.2f} = {2:.0f}".format(a, b, c))

123.456 * 456.145 = 37
456.145 * 123.456 = 37
123.5 * 456.14 = 37
456.1 * 123.46 = 37

In [ ]:
a=input("수를 입력하시오")
type(a)

In [ ]:
b=int(input("수 입력하시오"))
type(b)

In [ ]:
5==5.0

In [ ]:
type(5) == type(5.0)